---
layout: default
title: lh
---
<div id="title" class="wrapper">
	<div id="name" class="page-banner col-twelve" style="background-image: url(http://placehold.it/1020x80/CA3743/ffffff.png); background-size: cover; float: left; list-style: none; background-position: 50% 50%;">
		<h1>Venue Hire</h1>
	</div>
</div>
<div id="about" class="wrapper primary-content">
	<section class="col-twelve">
		<div class="vertical-tabs-container">
			{% include vertical-nav.html %}
			<div id="test" class="vertical-tab-content-container col-eight pull-right">
				<a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="tab1">Item 1</a>
				<div id="loadme" class="js-vertical-tab-content vertical-tab-content">
					
					<section class="venue-hire content">
						<aside class="three-eight">
							<h3>
								Event Query From
							</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora tenetur hic fugiat dolorum quibusdam sed debitis doloribus deserunt necessitatibus dolore.</p>
						</aside>
						<h6>Please Note</h6>
						<ul class="bullets six-eight">
							<li>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, beatae, maiores, reprehenderit possimus odio excepturi libero vero iusto nostrum minus accusantium tempore inventore dolores non quos cumque similique nemo vel.</p>
							</li>
							<li>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, beatae, maiores, reprehenderit possimus odio excepturi libero vero iusto nostrum minus accusantium tempore inventore dolores non quos cumque similique nemo vel.</p>
							</li>
							<li>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, beatae, maiores, reprehenderit possimus odio excepturi libero vero iusto nostrum minus accusantium tempore inventore dolores non quos cumque similique nemo vel.</p>
							</li>
							<li>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, beatae, maiores, reprehenderit possimus odio excepturi libero vero iusto nostrum minus accusantium tempore inventore dolores non quos cumque similique nemo vel.</p>
							</li>
							<li>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, beatae, maiores, reprehenderit possimus odio excepturi libero vero iusto nostrum minus accusantium tempore inventore dolores non quos cumque similique nemo vel.</p>
							</li>
						</ul>
					</section>


<form id="myForm" name="myForm" action="demo_form.asp" onsubmit="return validateForm()" method="post" class="form" novalidate>

<div class="content">
						<h4 class="form-title">
							Company Name
						</h4>
						<ul>
							<li>
								<label class="two-eight"  for="text_field">Company Name</label>
								<input class="four-eight" type="text">
							</li>
							<li>
								<label class="two-eight"  for="text_field">Company Address</label>
								<input class="four-eight" type="text">
							</li>
							<li>
								<label class="two-eight required"  for="text_field">Point of Contact</label>
								<!-- <span class="required">*</span> -->
								<input class="four-eight required" name="fname" type="text" required>
							</li>
							<li>
								<label class="two-eight"  for="text_field">Phone Number</label>
								<input class="four-eight" type="text">
							</li>
							<li>
								<label class="two-eight"  for="text_field">Email</label>
								<input class="four-eight" type="text">
							</li>
						</ul>
					</div>

					<div class="content">
						<h4 class="form-title">
							Your Event
						</h4>
						<ul>
							<li>
								<label class="two-eight"   for="text_field">Event Type</label>
								<input class="four-eight" type="text">
							</li>
							<li>
								<label class="two-eight"  for="text_field">Company Address</label>
								<select>
									<option value="volvo">Default</option>
									<option value="saab">Option 1</option>
									<option value="mercedes">Option 2</option>
									<option value="audi">Option 3</option>
								</select>
								<select>
									<option value="volvo">Default</option>
									<option value="saab">Option 1</option>
									<option value="mercedes">Option 2</option>
									<option value="audi">Option 3</option>
								</select>
								<select>
									<option value="volvo">Default</option>
									<option value="saab">Option 1</option>
									<option value="mercedes">Option 2</option>
									<option value="audi">Option 3</option>
								</select>
							</li>
							<li>
								<label class="two-eight"  for="text_field">Start Time</label>
								<select  class="two-eight">
									<option value="volvo">Default</option>
									<option value="saab">Option 1</option>
									<option value="mercedes">Option 2</option>
									<option value="audi">Option 3</option>
								</select>
							</li>
							<li>
								<label class="two-eight"  for="text_field">Screen Request</label>
								<select  class="two-eight" >
									<option value="volvo">Default</option>
									<option value="saab">Option 1</option>
									<option value="mercedes">Option 2</option>
									<option value="audi">Option 3</option>
								</select>
							</li>
							<li>
								<label class="two-eight line-adjust"  for="text_field">Time required in screen (including setup and take down times)</label>
								<input class="four-eight" type="text">
							</li>
							<li>
								<label class="two-eight line-adjust"  for="text_field">Amount of guests expected</label>
								<input class="four-eight" type="text">
							</li>
						</ul>
					</div>

					<div class="content">
						<h4 class="form-title">
							Other Services
						</h4>
						<ul>
							<li>
								<label class="two-eight line-adjust"  for="text_field">Details for Reception &amp; catering (if applicable)</label>
								<textarea class="four-eight large-comments" type="text"></textarea>
							</li>
							<li>
								<label class="two-eight line-adjust"  for="text_field">Do you need WIFI? (If so describe planned usage)</label>
								<textarea class="four-eight large-comments"  type="text"></textarea>
							</li>
							<li>
								<label class="two-eight line-adjust"  for="text_field">Film/Presentation Format Details (eg. 35mm, DCP, DVD etc.,) and planned running orders of events</label>
								<textarea class="four-eight large-comments"  type="text"></textarea>
							</li>
							<li>
								<label class="two-eight line-adjust"  for="text_field">Will you need access to the screen before the event? If yes, when and and for how long?</label>
								<textarea class="four-eight large-comments"  type="text"></textarea>
							</li>
							<li>
								<label class="two-eight line-adjust"  for="text_field">Planned running order
									of events for Screen Test/
									Rehearsal Time needed</label>
									<textarea class="four-eight large-comments"  type="text"></textarea>
								</li>
							</ul>
							
							<button type="submit" class="large red enquirey three-left-margin no-margin-b">Summit Enquirey</button>

						</div>

</form>

				
						</form>

					</div>
				</div>
						{% include aside-booking-dropdown-left.html %}
						{% include aside-link-left.html %}
			</div>



		</section>
	</div>




		