---
layout: default
title: Lighthouse – Coming Soon
---
 



<div class="wrapper right-aside primary-content">
	<div class="page-banner col-twelve" style="background-image: url(http://placehold.it/1020x80/CA3743/ffffff.png); background-size: cover; float: left; list-style: none; background-position: 50% 50%;">
		<h1>COMING SOON</h1>
	</div>
</div>

 {% include jcarousel.html %}

<div id="coming-soon" class="wrapper primary-content">

		<ul class="accordion-tabs-minimal">

		<li class="tab-header-and-content">
			<a  class="tab-link is-active auto-width" href="">FILMS</a>
			<section class="show-listings">
				{% include films-coming-soon.html %}
				{% include films-coming-soon.html %}
				{% include films-coming-soon.html %}
				{% include films-coming-soon.html %}
				{% include films-coming-soon.html %}
				
			</section>
		</li>

		<li class="tab-header-and-content">
			<a  class="tab-link auto-width" href="">SEASONS &AMP; SPECIALS</a>
			<section class="show-listings">
					{% include season-listings.html %}
					{% include season-listings.html %}
					{% include season-listings.html %}
					{% include season-listings.html %}
					{% include season-listings.html %}
					{% include season-listings.html %}
			
				
			</section>
		</li>

		
		<li class="tab-header-and-content">
			<a  class="tab-link auto-width" href="">ARTS EVENTS</a>
			<section class="show-listings">
					{% include season-listings.html %}
				{% include season-listings.html %}
						{% include season-listings.html %}
				{% include season-listings.html %}
						{% include season-listings.html %}
				{% include season-listings.html %}
				
			</section>
		</li>


	</ul>

</div>



