---
layout: default
title: lh
---

 {% include home-header.html %}
 {% include jcarousel.html %}


<div class="wrapper primary-content">
	<h1 class="medium-stencil section-title margin-t-20">Now Showing</h1>
	<section class="col-eight">
		<ul class="accordion-tabs-minimal">

			<li class="tab-header-and-content">
				<!-- arrrow now working righ <span class="arrow-down is-active"></span>  should go in first active -->
			<a href="#" class="tab-link is-active">MON<br><span class="date">OCT 31</span></a>
				<section id="showings-home">
					{% include home-listings.html %}
					{% include home-listings.html %}
					{% include home-listings.html %}
					{% include home-listings.html %}
				</section>
			</li>
			
			<!-- This is for tab title -->
			<li class="tab-header-and-content">
				<a href="#" class="tab-link">TUES <br><span class="date">OCT 31</span></a>
				<section id="showings-home">
					{% include home-listings.html %}
					{% include home-listings.html %}
				</section>
			</li>

			<li class="tab-header-and-content">
				<a href="#" class="tab-link">WED <br><span class="date">OCT 31</span></a>
					<section id="showings-home">
					{% include home-listings.html %}
					{% include home-listings.html %}
					{% include home-listings.html %}
					{% include home-listings.html %}
				</section>
		
			</li>
			<li class="tab-header-and-content">
				<a href="#" class="tab-link">THUR <br><span class="date">OCT 31</span></a>
					<section id="showings-home">
					{% include home-listings.html %}
					{% include home-listings.html %}
					{% include home-listings.html %}
					{% include home-listings.html %}
				</section>
		
			</li>
			<li class="tab-header-and-content">
				<a href="#" class="tab-link">FRI <br><span class="date">OCT 31</span></a>
					<section id="showings-home">
					{% include home-listings.html %}
					{% include home-listings.html %}
					{% include home-listings.html %}
					{% include home-listings.html %}
				</section>
		
			</li>
			<li class="tab-header-and-content">
				<a href="#" class="tab-link">SAT <br><span class="date">OCT 31</span></a>
					<section id="showings-home">
					{% include home-listings.html %}
					{% include home-listings.html %}
					{% include home-listings.html %}
					{% include home-listings.html %}
				</section>
		
			</li>
			<li class="tab-header-and-content">
				<a href="#" class="tab-link">SUN <br><span class="date">OCT 31</span></a>
					<section id="showings-home">
					{% include home-listings.html %}
					{% include home-listings.html %}
					{% include home-listings.html %}
					{% include home-listings.html %}
				</section>
		
			</li>
			<li class="tab-header-and-content">
				<a href="#" class="tab-link">ALL <br><span class="date">OCT 31</span></a>
					<section id="showings-home">
					{% include home-listings.html %}
					{% include home-listings.html %}
					{% include home-listings.html %}
					{% include home-listings.html %}
				</section>
		
			</li>

		</ul>
	</section>



	{% include social-aside.html %}
	{% include aside-link-right.html %}
	{% include aside-newsletter.html %}
	{% include aside-link-right.html %}
	{% include aside-link-right.html %}

</div>


