---
layout: default
title: Lighthouse – Now Showing
---

<div class="wrapper right-aside primary-content">
	<div class="page-banner col-twelve" style="background-image: url(http://placehold.it/1020x80/CA3743/ffffff.png); background-size: cover; float: left; list-style: none; background-position: 50% 50%;">
		<h1>Page Title</h1>
	</div>
</div>





<div id="now-showing" class="wrapper primary-content">

		<ul class="accordion-tabs-minimal">

		<li class="tab-header-and-content">
			<a  class="tab-link is-active" href="">All</span><div class="arrow-down is-active"></div></a>
			<section class="show-listings">
				{% include now-showing.html %}
				{% include now-showing.html %}
			</section>
		</li>

		<li class="tab-header-and-content">
			<a  class="tab-link" href="">TODAY<div class="arrow-down"></div></a>
			<section class="show-listings">
				{% include now-showing.html %}
				
			</section>
		</li>

		
		<li class="tab-header-and-content">
			<a  class="tab-link" href="">Specials<div class="arrow-down"></div></a>
			<section class="show-listings">
				{% include now-showing.html %}
				
			</section>
		</li>


	</ul>

</div>



