---
layout: payment
title: Single Film Page
---

<div class="wrapper payment-page-title margin-t-20">
	<h1>Your Ticket Basket</h1>
</div>


<div id="card-details" class="wrapper primary-content">
	<section class="col-eight synopsis no-margin-t">

		{% include single-film-checkout.html %}
		{% include single-film-checkout.html %}

		<div class="content form">
			

<form id="myForm" name="myForm" action="demo_form.asp" onsubmit="return validateForm()" method="post" class="form" novalidate>
	
			<h4 class="form-title">
							Credit Card Details
						</h4>
						<ul>
							<li>
								<label class="two-eight"   for="text_field">Cart Type</label>
								<select>
									<option value="volvo">Visa</option>
									<option value="saab">Master Card</option>
									<option value="mercedes">Laser</option>
								</select>
							</li>		

							<li>
								<label class="two-eight"   for="text_field">Card Number</label>
								<input class="three-eight" type="text">
							</li>

							<li>
								<label class="two-eight"  for="text_field">Expiry Date</label>
								<select>
									<option value="volvo">00</option>
									<option value="saab"></option>
								</select>
								<select>
									<option value="volvo">00</option>
									<option value="saab">00</option>
								</select>
						
							</li>
							<li>
								<label class="two-eight"   for="text_field">CVV Code</label>
								<input class="two-eight question" type="text">
								<div class="question">?
									<div class="tool-tip purple">
										<p>The 3 digit number on the back of your card</p>
									</div>							
								</div>
							</li>

							<li>
								<label class="two-eight"   for="text_field">Name on Card</label>
								<input class="three-eight question" type="text">
								<div class="question">?
									<div class="tool-tip purple">
										<p>The 3 digit number on the back of your card</p>
									</div>							
								</div>
							</li>

							<li>
								<label class="two-eight"  for="text_field">Email Address</label>
								<input class="three-eight" type="text">
							</li>
							<li class="small pull-right checkbox">
								<input class="small four-eight" type="checkbox" name="vehicle" value="Bike">Weekly LightHosue Cinema Newsletter</span>
							</li>
						</ul>

		</div>

		<div class="purple content no-margin-t">
			<h2 class="five-eight valign-middle large">Loyalty Card</h2>
			<button class="large red pull-right margin-t-5 more">Find out More</button>
		</div>

		<div class="form content no-margin-t visible">
				<h4 class="form-title">Loyalty Card Details</h4>
				<label class="two-eight"  for="text_field">Loyalty Card Number</label>
				<input class="three-eight question" type="text">
				<div class="question">?
					<div class="tool-tip purple">
						<p>The 3 digit number on the back of your card</p>
					</div>							
				</div>
		</div>

			
		<div class="content form">

				<ul>
					<li class="small six-eight pull-right checkbox">	
						<input class="small" type="checkbox" name="vehicle" value="Bike"><span>I agree to the <strong>Terms &amp; Conditions</strong></span>
					</li>

					<li>
						<div class="six-eight">
							<button class="large red register enquirey">Register</button>
							<button class="large grey cancel no-margin-t">Cancel</button>
						</div>
					</li>
				</ul>
			</form>
			<div class="note seven-eight">
				<h6>Please Note</h6>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, reiciendis amet porro officia cumque explicabo rerum aliquam perspiciatis consectetur nulla voluptates sequi praesentium nemo accusantium delectus! Expedita, dicta vitae inventore voluptatum rem repudiandae corrupti odit hic obcaecati eum ducimus tempora fugiat voluptates nesciunt est ipsum laboriosam pariatur sit doloribus
					quas!</p>
				</div>
			</div>
			

		</section>

		{% include aside-booking.html %}

	</div>


