---
layout: default
title: Single Film Page
---


<div id="card-details" class="wrapper primary-content">
	<h1 class="page-title">Thank You</h1>

	<section class="col-eight synopsis">

		{% include single-film-checkout.html %}
		{% include single-film-checkout.html %}


		<div class="purple content no-margin-t">
			<h2 class="five-eight valign-middle large">Loyalty Card</h2>
			<button class="large red pull-right">Find out More</button>
		</div>

		<div class="content form">
			<form action="">
				<ul>
					<li class="small six-eight pull-right checkbox">
						<input class="small" type="checkbox" name="vehicle" value="Bike"><span>I agree to the <strong>Terms &amp; Conditions</strong></span>
					</li>
					<li>
						<div class="six-eight">
							<button class="large red register">Register</button>
							<button class="large grey cancel">Cancel</button>
						</div>
					</li>
				</ul>
			</form>



		</section>

		{% include aside-booking.html %}

	</div>


