---
layout: default
title: Single Film Page
---


<div id="single-film" class="wrapper primary-content">
	<section class="col-eight synopsis">
		<div class="content">
			<h6 class="category">Premier</h6>
			<div class="film-review">
				<div class="movie-image two-eight">
					<img src="http://www.placekitten.com/170/240" alt="" class="large-thumb">
					{% include modal-button.html %}
				</div>
				<div class="four-eight movie-info">
					<h3>Movie Title</h3>
					<ul class="info">
						<li class="more-info">
							<h6 class="small no-margin-b"><strong>Director:</strong> Ron Howard</h6>
							<h6 class="small no-margin-b"><strong>Title:</strong> Ron Howard</h6>
							<h6 class="small no-margin-b"><strong>Starring:</strong> Ron Howard</h6>
						</li>
					</ul>
					<button class="red notify">Notify Me</button>
				</div>
				<ul class="film-info">
					<li class="rating">15</li>
					<li class="time">145<br/>Min</li>
				</ul>
			</div>
			<hr>
			<div class="summary eight-eight">
				<h4>Synopsis</h4>
				<p class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, mollitia, quas, laudantium, id voluptate blanditiis qui saepe rerum quis at nisi debitis dicta quam consequatur odit cum voluptas obcaecati illo consequuntur magnam numquam cupiditate laborum in ipsa necessitatibus voluptates itaque aliquam aperiam repellat aut non quod reiciendis harum adipisci aliquid.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, mollitia, quas, laudantium, id voluptate blanditiis qui saepe rerum quis at nisi debitis dicta quam consequatur odit cum voluptas obcaecati illo consequuntur magnam numquam cupiditate laborum in ipsa necessitatibus voluptates itaque aliquam aperiam repellat aut non quod reiciendis harum adipisci aliquid.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, mollitia, quas, laudantium, id voluptate blanditiis qui saepe rerum quis at nisi debitis dicta quam consequatur odit cum voluptas obcaecati illo consequuntur magnam numquam cupiditate laborum in ipsa necessitatibus voluptates itaque aliquam aperiam repellat aut non quod reiciendis harum adipisci aliquid.</p>

				<div class="none">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, mollitia, quas, laudantium, id voluptate blanditiis qui saepe rerum quis at nisi debitis dicta quam consequatur odit cum voluptas obcaecati illo consequuntur magnam numquam cupiditate laborum in ipsa necessitatibus voluptates itaque aliquam aperiam repellat aut non quod reiciendis harum adipisci aliquid.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, mollitia, quas, laudantium, id voluptate blanditiis qui saepe rerum quis at nisi debitis dicta quam consequatur odit cum voluptas obcaecati illo consequuntur magnam numquam cupiditate laborum in ipsa necessitatibus voluptates itaque aliquam aperiam repellat aut non quod reiciendis harum adipisci aliquid.</p>
				</div>
				<hr>
				<button class="large grey full-width-button readmore text-center">Read More</button>
			</div>
		</div>	
		<div class="content">
			<h6>You might also like</h6>
			<ul class="category-post">
				<li  class="two-eight"><img src="http://www.placekitten.com/120/180" alt=""><h6>Movie Title</h6></li>
				<li  class="two-eight"><img src="http://www.placekitten.com/120/180" alt=""><h6>Movie Title</h6></li>
				<li  class="two-eight"><img src="http://www.placekitten.com/120/180" alt=""><h6>Movie Title</h6></li>
				<li  class="two-eight"><img src="http://www.placekitten.com/120/180" alt=""><h6>Movie Title</h6></li>
			</ul>
		</div>
	</section>

	{% include social-aside.html %}
	{% include aside-newsletter.html %}
	{% include aside-link.html %}
	{% include aside-booking.html %}

</div>


