<aside class="newsletter purple col-four pull-right content">
		<h2 class="medium">Newsletter</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, reiciendis, veritatis ipsam iure est repudiandae aut molestiae dignissimos.</p>
	<form action="#" 
		method="post" id="newsletter" name="lhNewsletter" class="validate" target="_blank" novalidate>
		<input type="email"  onfocus="this.placeholder = ''" value="" name="EMAIL" class="email" id="EMAIL" placeholder="Newsletter Signup" required>
		<input type="submit" value="" name="GO" id="subscribe" class="button">
	</form> 
</aside>