<aside id="cart" class="purple col-four pull-right content margin-t-20">
	<h2 class="medium">Booking Options</h2>
	
	<div>
		<h3>Season Pass</h3>
		<ul>
			<li class="date">Tuesday 25/02/14 20:00</li>
			<li class="loyalty">Loyalty ponts 19</li>
			<li class="loyalty">2 Adults Tickets @ €9:00</li>
			<li class="total">€18:00</li>
		</ul>
	</div>

	<hr>

	<div>
		<h3>Season Pass</h3>
		<ul>
			<li class="date">Tuesday 25/02/14 20:00</li>
			<li class="loyalty">Loyalty ponts 19</li>
			<li class="loyalty">2 Adults Tickets @ €9:00</li>
			<li class="total">€18:00</li>
		</ul>
	</div>

	<hr>

	<div>
		<h4>Booking</h4>
		<ul>
			<li class="total">€1:00</li>
		</ul>
	</div>

	<hr>


	<div>
		<h4>Booking Fee</h4>
		<h2 class="cost">€48.00</h2>
	</div>

</aside>
