

<aside class="col-four booking newsletter pull-left">
	<h2 class="large-stencil">Book Now</h2>
	<dl class="dropdown">
		<dt>
			<a>
				<span>Choose a Showing</span>
				<span class="down-arrow"></span>
			</a>
		</dt>
		<dd>
			<ul>
				<li><a class="default">Batman</a></li>
				<li><a>Superman</a></li>
				<li><a>Kittens</a></li>
				<li><a>Fantasic Mr Fox</a></li>
			</ul>
		</dd>
	</dl>

	<dl class="dropdown">
		<dt><a><span>Choose a Date</span>
			<span class="down-arrow"></span></a></dt>
			<dd>
				<ul>
					<li><a class="default">Sunday 01st May</a></li>
					<li><a>Monday 2nd May</a></li>
					<li><a>Tuesday 3rd May</a></li>
					<li><a>Wednesday 4th May</a></li>
					<li><a>Thursday 5th May</a></li>
					<li><a>Friday 6th May</a></li>
				</ul>
			</dd>
		</dl>
		<dl class="dropdown">
			<dt><a><span>Choose a Time</span>
				<span class="down-arrow"></span></a></dt>
				<dd>
					<ul>
						<li><a class="default">21:00</a></li>
						<li><a>12:00</a></li>
						<li><a>13:00</a></li>
					</ul>
				</dd>
			</dl>
			<button class="tickets">Find Tickets</button>
		</aside>