<aside class="purple col-four pull-right content margin-t-10">
	<h2 class="medium">Booking Options</h2>
	
	<div>
		<h3>Season Pass</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, reiciendis, veritatis ipsam iure est repudiandae aut molestiae dignissimos.</p>

		<button class="red large full-width-button">Book Now</button>
	</div>

	<div>
		<h3>Season Pass</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, reiciendis, veritatis ipsam iure est repudiandae aut molestiae dignissimos.</p>

		<button class="red large full-width-button">Book Now</button>
	</div>


	<div>
		<h3>Season Pass</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, reiciendis, veritatis ipsam iure est repudiandae aut molestiae dignissimos.</p>

		<button class="red large full-width-button">Book Now</button>
	</div>

</aside>
