 <footer id="footer-primary" class="footer-primary">
    
    <div class="wrapper">
	    <ul class="logos">
	    	<li><a href="">Europa Cinemas</a></li>
	    	<li><a href="">Element Pictures</a></li>
	    	<li><a href="">Volta</a></li>
	    </ul>

	    <ul class="links">
	    	<li><a href="#">Twitter</a></li>
	    	<li><a href="#">Facebook</a></li>
	    	<li><a href="#">Youtube</a></li>
	    	<li><a href="#">Instagram</a></li><br/>
	    	<li><a href="#">Privacy</a></li>
	    	<li><a href="#">Terms &amp; Conditions</a></li><br/>
	    	<li><a href="#">Copyright 2014 LightHouse</a></li>
    <li>Site by <a style="font-weight:bold" href="http://www.creativeinc.ie">CREATIVE INC</a></li>
	    </ul>

	</div>

 </footer>
