
<!-- <div class="darken-left"></div>
<div class="darken-right"></div> -->

    <header>
       <div class="full-width yellow"> 
            <div class="wrapper">

                <nav id="firstNav">
                     
                     <form action="#" 
                        method="post" id="newsletter" name="lhNewsletter" class="validate col-three" target="_blank" novalidate>
                            <input type="email"  onfocus="this.placeholder = ''" value="" name="EMAIL" class="email" id="EMAIL" placeholder="Newsletter Signup" required>
                            <input type="submit" value="" name="GO" id="subscribe" class="button">
                        </form> 
        
                        <ul class="menu col-four">
                            <li><a class="ajaxCall" href="">Venue Hire</a></li>
                            <li><a class="ajaxCall" href="">Contact us</a></li>
                            <li><a class="ajaxCall" href="">MemberShip</a></li>
                        </ul>

                        <div class="cart pull-right">
                            <h6>0</h6>
                            <a class="cart-icon" href="">Cart</a>
                        </div>

                        <ul class="social pull-right">
                            <li><a class="social twitter" href=""></a></li>
                            <li><a class="social facebook" href=""></a></li>
                            <li><a class="social youtube" href=""></a></li>
                            <li><a class="social instagram" href=""></a></li>
                        </ul>
                        
                </nav>
             </div>
         </div>


        <div class="full-widt"> 
           <div class="wrapper">
                <nav id="secondNav">
                <h1 class="logo"><a href="index.html">LightHouse Cinema</a></h1>

                <ul class="primaryMenu">
                    <li><a class="ajaxCall" href="#">Now Showing</a></li>
                    <li><a class="ajaxCall" href="#">Coming Soon</a></li>
                    <li><a class="ajaxCall" href="#">Events</a></li>
                    <li class="dropdown"><a class="ajaxCall" href="#">Eat &amp; Drink</a>   

                        <ul class="subMenu">
                            <div class="arrow-up"></div>
                            <li><a class="ajaxCall" href="#">Sub Menu</a></li>
                            <li><a class="ajaxCall" href="#">Sub Menu</a></li>
                            <li><a class="ajaxCall" href="#">Sub Menu</a></li>
                            <li><a class="ajaxCall" href="#">Sub Menu</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="ajaxCall" href="#">About Us</a>   
                        <ul class="subMenu">
                            <div class="arrow-up"></div>
                            <li><a class="ajaxCall" href="#">Sub Menu</a></li>
                            <li><a class="ajaxCall" href="#">Sub Menu</a></li>
                            <li><a class="ajaxCall" href="#">Sub Menu</a></li>
                            <li><a class="ajaxCall" href="#">Sub Menu</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="ajaxCall" href="#">Your Visits</a>   
                        <ul class="subMenu">
                            <div class="arrow-up"></div>
                            <li><a class="ajaxCall" href="#">Sub Menu</a></li>
                            <li><a class="ajaxCall" href="#">Sub Menu</a></li>
                            <li><a class="ajaxCall" href="#">Sub Menu</a></li>
                            <li><a class="ajaxCall" href="#">Sub Menu</a></li>
                        </ul>
                    </li>   
                </ul>

            </nav>

            </div>
        </div>

    </header>
<!-- 

<div class="tooltip-item">
  Hover for Tooltip
  <div class="tooltip">
    <p>Tooltip text</p>
  </div>
</div> -->