
<div>
	<img class="pull-left" src="http://www.placekitten.com/120/170" width="120" height="170" alt="">
	<div class="five-eight">
	<h3>Move Title</h3>
	<p >After a stint in a mental institution, former teacher Pat Solitano moves back in with his parents and tries to reconcile with his ex-wife. Things get more challenging when Pat meets Tiffany, a mysterious girl with problems of her own. After a stint in a mental institution, former teacher Pat Solitano moves back in with his parents and tries to reconcile with his ex-wife. Things get more challenging when Pat meets Tiffany.  <a class="read-more" href="#">Read More </a></p>

	</div>
	<ul class="film-times">
		<li><a href="">12:00</a></li>
		<li><a href="">12:00</a></li>
		<li><a href="">12:00</a></li>
		<li><a class="void" href="">12:00</a></li>
		<li><a href="">12:00</a></li>
		<li><a href="">12:00</a></li>
		<li><a href="">12:00</a></li>
		<li><a href="">12:00</a></li>
		<li><a class="void" href="">12:00</a></li>
	</ul>

	<ul class="film-info">
		<li class="category">Premier</li>
		<li class="rating">15</li>
		<li class="time">145<br/>MIN</li>
	</ul>
</div>



