<div class="wrapper right-aside primary-content">
	<div id='slider' class='swipe col-eight'>
			<div class='swipe-wrap'>
				<div style="background-image: url(http://www.placekitten.com/720/310); background-size: cover; float: left; list-style: none; width: 630px; background-position: 50% 50%;">
						<h6 class="category">Premier</h6>
						<span class="container"><h3>This is text for the bottom</h3> <span class="up"></span>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, velit sit consectetur excepturi accusantium dicta alias laborum ad perferendis sunt pariatur odio non magni ullam eveniet temporibus nam repellendus! Esse?
							<button class="large purple">Read More</button>
						</p>
					</span>
				</div>
				<div style="background-image: url(http://www.placekitten.com/720/310); background-size: cover; float: left; list-style: none; width: 630px; background-position: 50% 50%;">
					<h6 class="category">Premier</h6>
					<span class="container"><h3>This is text for the bottom</h3> <span class="up"></span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam explicabo debitis animi vel. Nihil, sit, quasi, quod voluptas expedita vitae saepe maiores ab aliquam exercitationem ut hic minima accusamus explicabo.
					<button class="large purple">Read More</button>
					</p>
				</span>
			</div>
			<div style="background-image: url(http://www.placekitten.com/720/310); background-size: cover; float: left; list-style: none; width: 630px; background-position: 50% 50%;">
				<h6 class="category">Premier</h6>
				<span class="container"><h3>This is text for the bottom</h3> <span class="up"></span>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, magni, omnis obcaecati temporibus sequi saepe modi officiis velit accusamus amet reiciendis quas sed nisi placeat dolore adipisci alias iste nesciunt!
					<button class="large purple">Read More</button>
				</p>
			</span>
		</div>
</div>

<div class="prev" onclick="mySwipe.prev()"></div>
<div class="next" onclick="mySwipe.next()"></div>

</div>


<!--  Booking Aside -->


<aside class="col-four booking">
	<h2 class="large-stencil">Book Now</h2>
	<dl class="dropdown">
		<dt>
			<a>
				<span>Choose a Showing</span>
				<span class="down-arrow"></span>
			</a>
		</dt>
		<dd>
			<ul>
				<li><a class="default">Batman</a></li>
				<li><a>Superman</a></li>
				<li><a>Kittens</a></li>
				<li><a>Fantasic Mr Fox</a></li>
			</ul>
		</dd>
	</dl>

	<dl class="dropdown">
		<dt><a><span>Choose a Date</span>
			<span class="down-arrow"></span></a></dt>
			<dd>
				<ul>
					<li><a class="default">Sunday 01st May</a></li>
					<li><a>Monday 2nd May</a></li>
					<li><a>Tuesday 3rd May</a></li>
					<li><a>Wednesday 4th May</a></li>
					<li><a>Thursday 5th May</a></li>
					<li><a>Friday 6th May</a></li>
				</ul>
			</dd>
		</dl>
		<dl class="dropdown">
			<dt><a><span>Choose a Time</span>
				<span class="down-arrow"></span></a></dt>
				<dd>
					<ul>
						<li><a class="default">21:00</a></li>
						<li><a>12:00</a></li>
						<li><a>13:00</a></li>
					</ul>
				</dd>
			</dl>
			<button class="tickets">Find Tickets</button>
		</aside>


