




<div class="wrapper">

	<div  class="jcarousel-wrapper">
		<div class="jcarousel">
			<ul>
				<li style="background-image: url(http://placehold.it/340x180/CA3743/ffffff.png); background-size: cover; float: left; list-style: none; width: 340px; background-position: 50% 50%;"><h6 class="category">Premier</h6><h3><a href="#">Page Link</a></h3></li>
				<li style="background-image: url(http://placehold.it/340x180/CA3743/ffffff.png); background-size: cover; float: left; list-style: none; width: 340px; background-position: 50% 50%;"><h6 class="category">Premier</h6><h3><a href="#">Page Link</a></h3></li>
				<li style="background-image: url(http://placehold.it/340x180/CA3743/ffffff.png); background-size: cover; float: left; list-style: none; width: 340px; background-position: 50% 50%;"><h6 class="category">Premier</h6><h3><a href="#">Page Link</a></h3></li>
				<li style="background-image: url(http://placehold.it/340x180/CA3743/ffffff.png); background-size: cover; float: left; list-style: none; width: 340px; background-position: 50% 50%;"><h6 class="category">Premier</h6><h3><a href="#">Page Link</a></h3></li>
				<li style="background-image: url(http://placehold.it/340x180/CA3743/ffffff.png); background-size: cover; float: left; list-style: none; width: 340px; background-position: 50% 50%;"><h6 class="category">Premier</h6><h3><a href="#">Page Link</a></h3></li>
				<li style="background-image: url(http://placehold.it/340x180/CA3743/ffffff.png); background-size: cover; float: left; list-style: none; width: 340px; background-position: 50% 50%;"><h6 class="category">Premier</h6><h3><a href="#">Page Link</a></h3></li>
			</ul>
		</div>
		<a href="#" class="jcarousel-control-prev"></a>
		<a href="#" class="jcarousel-control-next"></a>
	</div>

</div>



