

	<div class="col-twelve content all-listing">
		<div class="film-review">
			<h6 class="category">Premier</h6>
			<img class="pull-left one-twelve" src="http://www.placekitten.com/95/130" alt="" class="thumb">

			<div class="pull-left three-twelve">
				<h3>Movie Title</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, voluptatem optio doloribus quaerat itaque animi similique repellendus quisquam corporis? Eaque, aliquam, ullam, atque, possimus culpa earum tempora repudiandae distinctio quos dolore nisi libero. <a href="" class="readmore">Read More ></a></p>
			</div>

			{% include modal-button.html %}
		</div>

		<div class="booking-list seven-twelve pull-right">
			<h3>Buy Tickets</h3>
			<div class="day">
				<h6>Tuesday 28 May 2013</h6>
				<ul>
					<li class="times"><a href="">12:00</a></li>
					<li class="times"><a href="">12:00</a></li>
					<li class="times"><a href="">12:00</a></li>
					<li class="times"><a href="">12:00</a></li>
					<li class="times void"><a href="">12:00</a></li>
					<li class="times"><a href="">12:00</a></li>
					<li class="times"><a href="">12:00</a></li>
					<li class="times"><a href="">12:00</a></li>
					<li class="times"><a href="">12:00</a></li>
					<li class="times"><a href="">12:00</a></li>
					<li class="times"><a href="">12:00</a></li>
				</ul>
			</div>
			<div class="day">
				<h6>Tuesday 28 May 2013</h6>
				<ul>
					<li class="times"><a href="">12:00</a></li>
				</ul>
			</div>
			<div class="day">
				<h6>Tuesday 28 May 2013</h6>
				<ul>
					<li class="times"><a href="">12:00</a></li>
				</ul>
			</div>
			<div class="day">
				<h6>Tuesday 28 May 2013</h6>
				<ul>
					<li class="times"><a href="">12:00</a></li>
				</ul>
			</div>
			<div class="day">
				<h6>Tuesday 28 May 2013</h6>
				<ul>
					<li class="times"><a href="">12:00</a></li>
				</ul>
			</div>
			<div class="day">
				<h6>Tuesday 28 May 2013</h6>
				<ul>
					<li class="times"><a href="">12:00</a></li>
				</ul>
			</div>
			<div class="day">
				<h6>Tuesday 28 May 2013</h6>
				<ul>
					<li class="times"><a href="">12:00</a></li>
				</ul>
			</div>
			<div class="day">
				<h6>Tuesday 28 May 2013</h6>
				<ul>
					<li class="times"><a href="">12:00</a></li>
				</ul>
			</div>

		</div>


		<div class="bottom-row">
			<div class="one">15</div>
			<div class="one" > 145 min</div>
			<div class="two">
				<h6 class="no-margin-b"><strong>Director:</strong> Ron Howard</h6>
				<h6 class="no-margin-b"><strong>Title:</strong> Ron Howard</h6>

			</div>
		</div>

	</div>

