
	<div class="col-twelve content min-height">
		<div class="film-review">
			<!-- <h6 class="category">Premier</h6> -->
			<img src="http://www.placekitten.com/220/140" alt="" class=" three-twelve pull-left">
			<div class="pull-left five-twelve">
				<h3>Movie Title</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, voluptatem optio doloribus quaerat itaque animi similique repellendus quisquam corporis? Eaque, aliquam, ullam, atque, possimus culpa earum tempora repudiandae distinctio quos dolore nisi libero. <a href="" class="readmore">Read More ></a></p>
			</div>
		</div>


		<div class="season-tickets three-twelve">
			<div class="buttons">
			
				<button class="red notify">Notify Me</button>
			</div>
			<div class="more-info">
				<h6 class="no-margin-b"><strong>Date:</strong> 24th July 2014</h6>
			
			</div>
		</div>

		<ul class="film-info">
			<li class="category">Premier</li>
			<li class="rating">15</li>
			<li class="time">145<br/>MIN</li>
		</ul>
	</div>



