<div class="content">
<h6 class="category">Premier</h6>
<div class="film-review">
	<div class="movie-image two-eight">
		<img src="http://www.placehold.it/170x240/" alt="" class="large-thumb">
	</div>
	<div class="four-eight movie-info">
		<h3>Movie Title</h3>

		<ul class="info">
			<li class="more-info">
				<h6 class="small no-margin-b"><strong>Date:</strong> Saturday 22/01/15</h6>
				<h6 class="small no-margin-b"><strong>Time:</strong> 20:00</h6>
				<h6 class="small no-margin-b"><strong>Screen:</strong> 1</h6>
			</li>
		</ul>
	</div>
	<ul class="film-info">
		<li class="rating">15</li>
		<li class="time">145<br/>Min</li>
	</ul>

</div>


</div>
