<div class="content">

<h6 class="category">Premier</h6>
<div class="film-review">



	<div class="movie-image two-eight">
		<img src="http://www.placehold.it/170x240" alt="" class="large-thumb">
	</div>
	<div class="four-eight movie-info">
		<h3>Movie Title</h3>


	
		<ul class="info">
			<li class="more-info">
				<h6 class="small no-margin-b"><strong>Date:</strong>12/01/14</h6>
				<h6 class="small no-margin-b"><strong>Time:</strong>12:00</h6>
				<h6 class="small no-margin-b"><strong>Screen:</strong>Screen 1</h6>
				<h6 class="small no-margin-b"><strong>Loyalty Points:</strong> 18</h6>
				<h6 class="small no-margin-b"><strong>Number of Tickets:</strong> 2</h6>
			</li>
		</ul>
	</div>
	<ul class="film-info">
		<li class="rating">15</li>
		<li class="time">145<br/>Min</li>
	</ul>
</div>

<hr>

	<ul>
		<li>
			<h6 class="two-eight">Costs:</h6>
			<p>€18:00</p>
		</li>
	</ul>
	

</div>