<div class="content">
<h6 class="category">Premier</h6>
<div class="film-review">
	<div class="movie-image two-eight">
		<img src="http://www.placekitten.com/170/240" alt="" class="large-thumb">
	</div>
	<div class="four-eight movie-info">
		<h3>Movie Title</h3>

		<ul class="info">
			<li class="more-info">
				<h6 class="small no-margin-b"><strong>Director:</strong> Ron Howard</h6>
				<h6 class="small no-margin-b"><strong>Title:</strong> Ron Howard</h6>
				<h6 class="small no-margin-b"><strong>Starring:</strong> Ron Howard</h6>
			</li>
		</ul>
	</div>
	<ul class="film-info">
		<li class="age">15</li>
		<li class="duration">145<br/>Min</li>
	</ul>

</div>

</div>
