<div class="content">
<h6 class="category">Premier</h6>
<div class="film-review">
	<div class="movie-image two-eight">
		<img src="http://www.placekitten.com/170/240" alt="" class="large-thumb">
	</div>
	<div class="four-eight movie-info">
		<h3>Movie Title</h3>
		<h4>Director</h4>
		<ul class="info">
			<li class="more-info">
				<h6 class="small no-margin-b"><strong>Director:</strong> Ron Howard</h6>
				<h6 class="small no-margin-b"><strong>Title:</strong> Ron Howard</h6>
				<h6 class="small no-margin-b"><strong>Starring:</strong> Ron Howard</h6>
			</li>
		</ul>
	</div>
	<ul class="film-info">
		<li class="age">15</li>
		<li class="duration">145<br/>Min</li>
	</ul>
</div>

<hr>
	<div class="eight-eight form">
		<form action="">
		  <h6>Ticket Selection</h6>
			<div>
				<label  for="text_field"><strong>Adult Ticket:</strong> €9:00</label>
				<select>
					<option value="volvo">Volvo</option>
					<option value="saab">Saab</option>
					<option value="mercedes">Mercedes</option>
					<option value="audi">Audi</option>
				</select>
			</div>

			<div>
				<label  for="text_field"><strong>Concession Ticket:</strong> €9:00</label>
				<select>
					<option value="volvo">Volvo</option>
					<option value="saab">Saab</option>
					<option value="mercedes">Mercedes</option>
					<option value="audi">Audi</option>
				</select>
			</div>

		</form>

	</div>
</div>