// button position background-position: 185px -882px;


@mixin button-hover($base-color, $hover-color: darken($base-color, 50)) {
  background-color: $base-color;

  &:visited {
    background-color: $base-color;
  }

  &:hover,
  &:focus {
    background-color: #4298D1;
    outline: none;
  }
}

button {
  font: 12px bold "sansfont", $helvetica;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 12px 15px;
  border: none;
  text-align: left;
  color: white;
  @include transition(all 0.2s ease-in-out);
  @include border-radius(2px);

  @include sprite-simple(sprite-2, 185px, -882px);

  &.red {
    @include button-hover(#CA3743, #CA3743);
    background-position: 215px -882px;
  }
  &.green {
    @include button-hover(#4ac9a6, #4ac9a6);
  }
  &.purple {
    @include button-hover(#3d4154, #3d4154);
  }
  &.grey {
    @include button-hover(#ccc, #ccc);
    background-position: 215px -882px;
  }
  &.white {
    @include button-hover(#fff, #fff);
    background-position: 186px -2272px;
    color: #4d4d4d;
  }

  &.full-width-button {
    width: 100%;
  }

  &:nth-child(2) {
    margin-top: 12px;
  }



}

.swipe-wrap button {
  display: block;
  margin: 20px 0;
  min-width: 180px;
}

.season-tickets  {
  .buttons {
  min-height: 118px;
  }
}

.buttons button {
  position: relative;
  top: 22px;
}


.buttons button.notify {
  position: relative;
  top: 73px;
}

button.readmore {
  background-image: none;
}

button.full-width-button {
  background-position: 304px -882px;
}


@include media($mobile) {
    
   button.large.red.two-eight.pull-right {
    width: 100%;
   }

 }


@include media($below-860) {

  button.full-width-button {
     background-position-x: 12px;
  }

}
