
@mixin button-hover($base-color, $hover-color: darken($base-color, 50)) {
  background-color: $base-color;

  &:visited {
    background-color: $base-color;
  }

  &:hover,
  &:focus {
    background-color: $hover-color;
    outline: none;
  }
}

button {
  font: 12px normal "sansfont", $helvetica;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 12px 15px;
  border: none;
  text-align: left;
  color: white;
  @include transition(all 0.2s ease-in-out);
  @include border-radius(2px);

  &.red {
    @include button-hover(#CA3743, #CA3743);
  }
  &.green {
    @include button-hover(#4ac9a6, #4ac9a6);
  }
  &.purple {
    @include button-hover(#3d4154, #3d4154);
  }
  &.grey {
    @include button-hover(#ccc, #ccc);
  }

  &.full-width-button {
    width: 100%;
  }

  &:nth-child(2) {
    margin-top: 12px;
  }

}

.swipe-wrap button {
  display: block;
  margin: 20px 0;
  min-width: 180px;
}

.season-tickets  {
  .buttons {
  min-height: 112px;
  }
}

.buttons button {
  position: relative;
  top: 22px;
}


.buttons button.notify {
  position: relative;
  top: 73px;
}
