


button {
  font: 12px normal $helvetica;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 12px 15px;
  border: none;
  text-align: left;
  color: white;
  @include transition(all 0.2s ease-in-out);
}





button {


  &.red {
    background-color: #CA3743;
    &:focus, &:hover {
    background-color: darken(#CA3743, 5%);
  }
  }
  &.green {
    background-color: #4ac9a6;
    &:focus, &:hover {
    background-color: darken(#4ac9a6, 5%);
  }
  }
  &.purple {
    background-color: #3d4154;
      &:focus, &:hover  {
    background-color: darken(#3d4154, 5%);
  }
  }
  &.grey {

    background-color: darken(#ccc, 5%);
  }
}

aside {
  button.large {
    width: 100%;
    max-width: 320px;
  }
}

button.large.readmore {
  width: 100%;
  max-width: 680px;
  text-align: center;
}

.swipe-wrap button {
  display: block;
  margin: 20px 0;
}

.buttons button.notify {
  position: relative;
  top: 63px;
}

.buttons button.season {
  margin-top: 4px;
}

.season-tickets  .buttons {
  min-height: 106px;
}


