
.wrapper {
  @include outer-container;

   @include media($small-desktop) {
   padding: 0 22px;
}
}

.full-width {
  @include fill-parent;
}

.primary-content {


    margin-top: 10px;



  section, aside {
    margin-top: 10px;
    margin-bottom: 10px;
    @include border-radius(2px);
  }
}

// Images sprites // Mixin is in 
///////////////////////////////////////////////////////////////////////////////

.sprite-1 {
  background-image: url(../img/icon_sprite.png);
  background-image: url(../img/icon_sprite.svg);
}

.sprite-2 {
  background-image: url(../img/icon_sprite2.png);
  background-image: url(../img/icon_sprite2.svg);
}

// Class fixes
///////////////////////////////////////////////////////////////////////////////

// Pull elements right

aside.pull-right {
  clear: right;
}


// Arrow on menu
.arrow-up {
  position: absolute;
  top: -14px;
  left: 59px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
    // @include background-opacity(#3d4154, 0.9);
  border-bottom: 14px solid #292d3d;
  opacity: 0.9;
  @include transition(all 0.2s ease-in-out);
}

.tab-header-and-content {
  position: relative;
}

.arrow-down.is-active {
  position: absolute;
  left: 35%;
  top: 46px;

// margin-left: 35%;

  @include triangle(22px 12px, $dark-purple, down);
}

.arrow-right.is-active {
  position: absolute;
  right: -11px;
  top: 12px;
// margin-left: 35%;
  @include triangle(21px 11px, $dark-purple, right);
}


p a.read-more {
  @include sprite(sprite-2, 34%, 240.159%, 21px, 110px);
  text-indent: 0px;
  overflow: visible;
  // display: inline;
}
