body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2{
  font-weight: normal;
  font-family: displayfont;
  }

h3, h4, h5, h6 {
  font-weight: normal;
  font-family: sansfont;
  }



h1 {
  font-size: $base-font-size * 1.6; // 16 * 1.5 = 24px
}

h2 {
  font-size: $base-font-size * 1.25; // 16 * 1.25 = 20px
  &.large-stencil {
    font-family: displayfont;
     font-size: $base-font-size * 1.8;  // 16 * 1.5 = 24px
  }
}

h3 {
  font-size: $base-font-size * 1.125; // 16 * 1.125 = 18px
   &.medium-stencil {
    font-family: displayfont;
     font-size: $base-font-size * 1.2; // 16 * 1.125 = 18px
  }

}

h4 {
  font-size: $base-font-size; // 16 * 1.5 = 24px
}

h5 {
  font-size: 14px; // 16 * 0.875 = 14px
  font-family: 'sansfont';
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

h6 {
  font-size: $base-font-size * 0.750; // 16 * 0.750 = 12px
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.cart h6 {
  font-size: 18px;
}

p {
  font-size: $base-font-size * 0.875; // 16 * 0.875 = 14px
  margin: 0 0 ($base-line-height * .4);
  line-height: 1.5em;

  &.large {
    font-size: $base-font-size * 1.125; 
  }

}

a {
  color: $base-link-color;
  text-decoration: none;
  @include transition(color 0.1s linear);

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
}

abbr, acronym {
  border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 ($base-line-height / 2);
}

hgroup {
  margin-bottom: $base-line-height / 2;
}

del {
  color: lighten($base-font-color, 15);
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}

button {
  font-size: 12px; // 16 * 0.750 = 12px
  font-weight: bold;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  font-family: sansfont;
  line-height: 14px;
}

a.readmore {
  font-size: 14px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}


.content h3, h4.form-title, h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

h6.category {
  position: absolute;
  width: 85px;
  right: 0px;
  top: 0px;
  text-align: center;
}

p.small,  {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 12px;
}


form.small {
  font-size: 12px;
}


li.more-info h6 {
  font-weight: normal;
}
