.accordion-tabs-minimal {
  $tab-border-color: $base-border-color;
  $tab-border: 1px solid $tab-border-color;
  $tab-content-background: $base-body-color;
  $tab-active-background: $tab-content-background;
  $tab-inactive-color: $base-body-color;
  $tab-inactive-hover-color: darken($light-gray, 5);
  $tab-mode: $medium-screen;

  @include clearfix;

  @include media($tab-mode) {
    border: none;
  }

  li.tab-header-and-content {
    @include media($tab-mode) {
      display: inline;
    }

    &:first-child a.tab-link {
      @include border-radius(2px);
      border-top: 0;

    }
    &:last-child a.tab-link {
      @include border-radius(2px);
      @include media($tab-mode) {
        border-bottom-left-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
      }
    }
  }
  a.tab-link {
    @include border-radius(2px);
    height: 60px;
    font-weight: bold;
    text-transform: uppercase;
  }
  li.tab-header-and-content a.tab-link {
    background-color: $tab-inactive-color;
    color: $dark-gray;
    display: block;
    font-weight: bold;
    // padding: $base-line-height / 2 $gutter;

    padding-top: 9px;
  height: 58px;
    padding-left: 2%;
    padding-right: 2%;

    @include media($tab-mode) {
      @include inline-block;
      width: 11.8%;
      text-align: center;
      border-top: 0;
      border-top-right-radius: $base-border-radius;
      border-top-left-radius: $base-border-radius;

   
    }

    &:hover {
      color: $base-link-color;
    }
    &:focus {
      outline: none;
    }
    &.is-active {

      background-color: $dark-purple;
      // border-bottom: 0;
      @include media($tab-mode) {
        background-color: $dark-purple;
        margin-bottom: -1px;
        color: white;
      }
    }
  }

  li.tab-header-and-content section {
    display: none;
    overflow: hidden;
    width: 100%;
    @include media($tab-mode) {
      float: left;
      left: 0;
    }
  }
}




.accordion-tabs-minimal  {
  position: relative;
  // min-height: 270px;
  p, h3 {
    
    padding-left: 22px;
  }
  h3 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  a {
    font-size: 14px;
    font-weight: bold;
    color: #000;
  }
}

ul.film-info {

  position: absolute;
  width: 85px;
  border-left: solid 1px #ececec;
  margin-top: -22px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  line-height: 14px;
  right: 0px;
  height: 100%;
  li {
    display: block;
    width: 100%;
  }
}



// above that sorted

  #showings-home > div, #nowShowing > div {
      position: relative;
      margin: 10px 0px;
      background: white;
      overflow: hidden;
      padding: 22px 22px 12px 22px;
      border-radius: $base-border-radius;
  }



.category {
  color: #fff;
  background: black;
  padding: 6px;
  font-size: 13px;
  font-weight: bold;
  min-width: 85px;
  text-transform: none;
}

.rating {
  position: absolute;
  bottom: 75px;
  padding: 21px;
  font-weight: bold;
  font-size: 14px;
  border-top: solid 1px #ececec;
  @include sprite(sprite-2, 49.8%, 440.19%, 60px, 0px);
  text-indent: -2px;
}

.time {
  position: absolute;
  bottom: 0px;
  padding: 23px;
  border-top: solid 1px #ececec;
  font-weight: bold;
  font-size: 14px;
}


li.tab-header-and-content a.tab-link.auto-width {
  width: auto;
}

span.date {
  font-size: 11px;
  top: -8px;
  position: relative;
  font-weight: normal;
}

// Now Showing Tabs
////////////////////////////////////////////////////

#now-showing, #coming-soon, #events {
  .tab-link {
    width: auto;
    padding: 18px 25px 22px 25px;
  } 
  .arrow-down.is-active {
    bottom: -31px;
    left: 50%;
    margin-left: -13px;
  }
}

#now-showing {

  .rating {
    position: relative;
    bottom: 0px;
    border-top: 0px;
    background-position: 51.8% 440.9%;
    text-indent: 5px;
    // top: 3px;
    padding-top: 23px;

  }

  .time {
    text-transform: uppercase;
    border-top: 0px;
    width: 27px;
    text-align: center;
    line-height: 15px;
  }

}




@-moz-document url-prefix() {
    .accordion-tabs-minimal li.tab-header-and-content a.tab-link {

        width: 11.95%;

    }
}

/* saf3+, chrome1+ */
@media screen and (-webkit-min-device-pixel-ratio:0) {

}


@media screen and (min-width: 1080px) {

    .accordion-tabs-minimal li.tab-header-and-content a.tab-link {
      // background: yellow !important;
      // width: 12% !important;
    }

}


