.advert {
  background: aqua;
  // height: 300px;
}

.pagelink, .film-link  {
  height: 180px;
  position: relative;

  a {
    position: absolute;
    bottom: 0px;
    padding: 8px 22px;
    color: white;
    width: 100%;
    @include border-bottom-radius(3px);
    
  }


}

.film-link a {
  background-color: rgb(0, 174, 199);
}

.pagelink a {
 background-color: rgb(70, 190, 147);
}


.purple {
  margin-top: 20px;
  background: $dark-purple;
  color: white;
  h2 {
    margin-bottom: 22px;
  }
  button.red.large { height: 41px; width: 95%; }

  > div {
    margin-bottom: 22px;
  }

}

aside.purple.col-four.pull-right.content {
margin-top: 10px;
}
