.modal {
  $modal-padding: 3em;
  $modal-background: $base-body-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;
  .btn {
    // @include button(simple, $base-body-color);
    font-size: $base-font-size;
    margin-bottom: $base-line-height;
    position: absolute;
    top: 210px;
    width: 127px;
    text-align: center;
    padding: 5px 20px;
    background-color: #CA3743;
    color: white;
    @include border-radius(2px);
    text-transform: uppercase;
  }
  .modal-open {
    overflow: hidden;
  }
  .modal-window {
    // overlay
    @include position(fixed, 0px 0px 0px 0px);
    background: rgba(0, 0, 0, 1);
    text-align: left;
    display: none;
    z-index: 99999999999;
  }
  .modal-close {
    @include position(absolute, $modal-padding / 2 $modal-padding / 2 0 0);
    @include size(1.5em);
    cursor: pointer;
    @include sprite(sprite-1, 100%, 100%, 38px, 38px);
  }
  .modal-inner {
    // @include transition(opacity .25s ease);
    margin: auto;
    max-height: 360px;
    position: relative;
    overflow: auto;
    width: 640px;
    padding: $modal-padding / 2;
    margin-top: .5em;
    @include media($medium-screen) {
      padding: $modal-padding;
      width: 60%;
      max-height: 60%;
      margin-top: 9em;
    }

    @include media($large-screen) {
      width: 711px;
      margin-top: 9em;
    }
  }
  .modal-inner {
    top: 0;
    overflow: hidden;
  }
}
